#include <physical_layouts.dtsi>

 / {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "scyboard";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys =
            <&key_physical_attrs 100 100  50 100 0 0 0>
          , <&key_physical_attrs 100 100  69  98 0 0 0>
          , <&key_physical_attrs 100 100  88  87 0 0 0>
          , <&key_physical_attrs 100 100 107  95 0 0 0>
          , <&key_physical_attrs 100 100 126 104 0 0 0>
          , <&key_physical_attrs 100 100 145 102 0 0 0>
          , <&key_physical_attrs 100 100  50  81 0 0 0>
          , <&key_physical_attrs 100 100  69  79 0 0 0>
          , <&key_physical_attrs 100 100  88  68 0 0 0>
          , <&key_physical_attrs 100 100 107  76 0 0 0>
          , <&key_physical_attrs 100 100 126  85 0 0 0>
          , <&key_physical_attrs 100 100 145  83 0 0 0>
          , <&key_physical_attrs 100 100  50  62 0 0 0>
          , <&key_physical_attrs 100 100  69  60 0 0 0>
          , <&key_physical_attrs 100 100  88  49 0 0 0>
          , <&key_physical_attrs 100 100 107  57 0 0 0>
          , <&key_physical_attrs 100 100 126  66 0 0 0>
          , <&key_physical_attrs 100 100 145  64 0 0 0>
          , <&key_physical_attrs 100 100  88  68 0 0 0>
          , <&key_physical_attrs 100 100 107  78 0 0 0>
          , <&key_physical_attrs 100 100 120  91 0 0 0>
          , <&key_physical_attrs 100 100 137 104 0 0 0>
          ;
    };
};