#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "scyboard";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        
        keys
           // Row 0 (top)         w     h   x     y   rot rx ry 
         = <&key_physical_attrs 100   100  50  (-100)     0  0  0>   // outer
         , <&key_physical_attrs 100   100  69  (-98)      0  0  0>   // pinky (0.1*19 stagger)
         , <&key_physical_attrs 100   100  88  (-87)      0  0  0>   // ring (0.66*19 stagger)
         , <&key_physical_attrs 100   100 107  -95      0  0  0>   // middle (0.25*19 stagger)
         , <&key_physical_attrs 100   100 126  -104     0  0  0>   // index (-0.25*19 stagger)
         , <&key_physical_attrs 100   100 145  -102     0  0  0>   // inner (-0.15*19 stagger)
                                                                 
           // Row 1 (home)        w     h   x    y    rot rx ry                                
         , <&key_physical_attrs 100   100  50  -81      0  0  0>   // outer
         , <&key_physical_attrs 100   100  69  -79      0  0  0>   // pinky
         , <&key_physical_attrs 100   100  88  -68      0  0  0>   // ring
         , <&key_physical_attrs 100   100 107  -76      0  0  0>   // middle
         , <&key_physical_attrs 100   100 126  -85      0  0  0>   // index
         , <&key_physical_attrs 100   100 145  -83      0  0  0>   // inner
                                                                 
           // Row 2 (bottom)      w     h   x    y    rot rx ry                                
         , <&key_physical_attrs 100   100  50  -62      0  0  0>   // outer
         , <&key_physical_attrs 100   100  69  -60      0  0  0>   // pinky
         , <&key_physical_attrs 100   100  88  -49      0  0  0>   // ring
         , <&key_physical_attrs 100   100 107  -57      0  0  0>   // middle
         , <&key_physical_attrs 100   100 126  -66      0  0  0>   // index
         , <&key_physical_attrs 100   100 145  -64      0  0  0>   // inner
          
           // Row 3 (cluster)     w     h   x    y    rot rx ry
         , <&key_physical_attrs 100   100  88  -68      0  0  0>   // thumb_tuck (shift: [-0.5*19, -1*19])
         , <&key_physical_attrs 100   100 107  -78    -15  0  0>   // thumb_layer (shift: [-0.42*19, -1.22*19])
         , <&key_physical_attrs 100   100 120  -91   -117  0  0>   // thumb_space (width: 1.5*19, shift: [-0.3*19, -1.4*19])
         , <&key_physical_attrs 100   100 137 -104   -124  0  0>   // thumb_reach (width: 1.5*19, shift: [-0.4*19, -2*19])
         ;
    };
};