#include "scyboard.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
        col-gpios 
            = <&pro_micro 7 GPIO_ACTIVE_HIGH>  // COL 11 (outer)
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>  // COL 10 (pinky)
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>  // COL 9 (ring)
            , <&pro_micro 4 GPIO_ACTIVE_HIGH>  // COL 8 (middle)
            , <&pro_micro 3 GPIO_ACTIVE_HIGH>  // COL 7 (index)
            , <&pro_micro 2 GPIO_ACTIVE_HIGH>  // COL 6 (inner)
            ;
};