#include "scyboard.dtsi"

&physical_layout0 {
    kscan = <&kscan0>;
    transform = <&default_transform>;
};

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    diode-direction = "col2row";
	
    row-gpios
        = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // ROW 0 (TOP)
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // ROW 1 (HOME)
        , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // ROW 2 (BOTTOM)
        , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // ROW 3 (CLUSTER)
        ;

    col-gpios
        = <&pro_micro 2 GPIO_ACTIVE_HIGH>  // COL 0 (outer)
        , <&pro_micro 3 GPIO_ACTIVE_HIGH>  // COL 1 (pinky)
        , <&pro_micro 4 GPIO_ACTIVE_HIGH>  // COL 2 (ring)
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>  // COL 3 (middle)
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>  // COL 4 (index)
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>  // COL 5 (inner)
        ;
};